<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>
  <% if current_user == @user %>
    <br>
    <p><strong>Auth token:</strong> <u><%= @user.authentication_token %></u></p>
  <% end %>
  <%= friend_request_header(@user) %>
  <ul>
    <%= list_friend_requests(@user) %>
  </ul>
  <%= mutual_friends_header(@user) %>
  <ul> 
    <%= list_mutual_friends(@user) %>
  </ul>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
